*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #fff;
}

button {
	height: 40px;
	padding: 5px;
}
button: hover {
	opacity: .1;
	transition: .3s ease-in;
}

